

 h4
{
	font-weight: 400;
	color: black;
	margin-top: 100px;
	font-size: 30px;
	text-align: center;
}
p
{
	font-size: 18px;
	color: #909090;
	margin: 10px auto;
	width: 100%;
	text-align: center;
}
.img
{
	height: 320px;
	width: 500px;
	margin: 0px auto;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.cover
{
	background-image: url(cover.png);
	height: 600px;
	width: 1080px;
}
.summer-collection
{
	background-image: url(summercollection.png);
}
.winter-collection
{
background-image: url(wintercollection.png);
}
.summerstock
{
	background-image: url(summerstock.png);
}
.winterstock
{
background-image: url(winterstock.png);
}
.login
{
	background-image: url(login.png);
}
.checkout
{
background-image: url(cart.png);
}
.admin
{
	background-image: url(admin.png);
}
.addstock
{
background-image: url(addstock.png);
}
.img-wrapper
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
